/* Upstate */

/* nav */
.upstate-nav-sm{
  transition: top 1.2s ease-in-out;
    -moz-transition: top 1.2s ease-in-out; /* FF 4 */
    -webkit-transition: top 1.2s ease-in-out; /* Safari & Chrome */
    -o-transition: top 1.2s ease-in-out; /* Opera */
  left:0;
  width:100%;
}
header.navigation .logo, header.upstate-nav-wrapper .logo {
  background: transparent;
}
header.navigation .navigation-menu-button, header.upstate-nav-wrapper .navigation-menu-button {
  background: transparent;
}
header.navigation .navigation-tools, header.upstate-nav-wrapper .navigation-tools {
  margin-top: 0.26em;
}
header.navigation .navigation-wrapper, header.upstate-nav-wrapper .navigation-wrapper, header.upstate-nav-wrapper .navigation-wrapper {
  position: relative !important;
}
header.navigation, header.upstate-nav-wrapper, header.upstate-nav-wrapper {
  overflow:visible !important;
}
header.navigation ul.submenu li a, header.upstate-nav-wrapper ul.submenu li a {
  text-align:center;
  @include media($large-screen){
    text-align:left;
  }
}
header.navigation li.more.nav-link>ul>li:first-child a, header.upstate-nav-wrapper li.more.nav-link>ul>li:first-child a {
  padding-top: 0.0em !important;
  @include media($large-screen){
    padding-top:0.5em !important;
    padding-left:1.15em;
  }
  padding-right:0.5em !important;
  margin-right:-0.5em !important;
  //margin-right:0em !important;
}
header.navigation li.more.nav-link>a:after, header.upstate-nav-wrapper li.more.nav-link>a:after {
  right: -0.8em;
}
header.navigation li.more.nav-link a, header.upstate-nav-wrapper li.more.nav-link a {
  //margin-right: 0em !important;
}
header.navigation li.more a, header.upstate-nav-wrapper li.more a {
  padding-right: 0em !important;
}

/* home slide */

#slide-floater{
  margin-top:-50px;
  @include media($medium-screen){
    margin-top: -75px;
  }
  @include ($large-screen){
    margin-top:-100px;
  }
}

.upstate-hero{
  font-family: 'enriqueta', serif;
  font-size:2.5em;
  line-height:1em;
  color: $sky-top;
  margin-bottom:1%;
  text-align:center;
  //visibility: hidden;
    @include media($medium-screen) {
      font-size:4em;
      line-height:1em;
    }
    @include media($large-screen) {
      font-size:4.5em;
      line-height:1em;
    }
}
.visible{
  visibility:visible !important;
}

.hero-h2{
  text-align:center;
  font-size:1.3em;
  margin:1em 0 1.5em;
}

.upstate-hero-footer{
  @include span-columns(12);
  margin-top:2em;
}
.half{
  @include span-columns(12);
  position:relative;
  @include media($medium-screen){
    @include span-columns(6);
  }
}
.half-omega{
  @extend .half;
  @include omega();
}

.hero-support{
  @extend .half;
  @include omega();
  text-align:left;
}
.center{
  text-align:center;
}

.hero-support li{
  list-style:none;
  margin-left:3em;
  line-height:1.6em;
  position:relative;
  .fa {
    color:$sky-top;
    position:absolute;
    margin-left:-1.5em;
    margin-top:7px;
  }
  .fa-magic{ color:$red;}
  .fa-file-code-o{ color: $purple}
  .fa-fighter-jet{
    color:$orange;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
  }
  .fa-search{ color: $green;}
  .fa-shield{ color:$blue;}
}

/* features slide */
#feats-slide{
  padding-top:40px;
}

/* work / examples */

.mobile-small{
  max-width:190px;
  position:absolute;
  top:0px;
  left:-30px;
}
.scr-mobile-wrap{
  border-radius: 1.23em;
}
.scr-desktop img{
  border-radius: 0.25em;
}

/* themes */

.hide-mobile{
  display:none;
  @include media($medium-screen){
    display:block;
  }
}

.upstate-slides{
  // .fp-slidesNav.bottom:before{
  //   content: 'browse themes: ';
  //   font-size: 20px;
  //   position: absolute;
  //   left: -120px;
  //   top: -3px;
  //   background:#fff;
  //   border-radius:3px;
  //   padding:1px 3px;
  // }
}
.upstate-slides{
  #fp-nav ul, .fp-slidesNav ul {
  //margin: 0 0 0 -62px;
  @include media($medium-screen){
   // margin: 0;
  }
  }
}
.theme-wrapper{
  @include outer-container;
  @include pad(1em 2em 0 default);

  @include media($large-screen){
    @include pad(1em 3em 0 default);
  }
}
.col-3.theme-preview{
  opacity:1.0;
  border-radius:5px;
  transition:0.5s;
  margin-bottom:1em;
}
.col-3.hide-preview-sm{
  display:none;
  @include media($medium-screen){
    display:block;
  }
}
.hide-link-md{
  display:block;
  @include media($medium-screen){
    display:none;
  }
}
.col-3.theme-preview a{
  background-color:transparent !important;
  padding: 0 !important;
}
.col-3.theme-preview:hover {
  opacity:0.5;
  background-color:$green !important;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.col-3.theme-browse-link.omega > .wrappily  {
  margin-top:1em;
  width:120%;
   @include media($medium-screen){
    margin-top:50%;
   text-align:center;
   width:100%;
  }
}

/* apply */

.upstate-apply {
  @include bbb_size(2);
  @include bbb-3D-style($rich-violet, #fff);
  font-family: 'archivo black';
  font-size:1.2em;
  text-transform:uppercase;
  letter-spacing:-0.09em;
  margin-top:0.5em;
  @include media($medium-screen){
    margin-top:0em;
  }
  
}
.upstate-apply:hover,
.upstate-apply:focus {
  background-color:lighten($rich-violet, 10%);
}

.upstate-learn {
  @include bbb_size(2);
  @include bbb-3D-style(darken($bg-egg-blue, 5%), $brand-gray);
  font-family: 'archivo black';
  font-size:1.2em;
  text-transform:uppercase;
  letter-spacing:-0.09em;
  margin-top:0.5em;
  @include media($medium-screen){
    margin-top:0em;
  }
}
.upstate-learn:hover,
.upstate-learn:focus {
  background-color:lighten($bg-egg-blue, 5%);
  color: $brand-gray;
}
.no-bg-link a{
  background:none !important;
}

.upstate-apply-form1{
  input {
    display:inline;
    height:2.6em;
  }
}
.upstate-apply1{
  background:#fff;
  border-radius:4px;
  padding:1em;
}

.col-1{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(1);
  }
}
.col-2{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(2);
  }
}
.col-3{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(3);
  }
}
.col-4{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(4);
  }
}
.col-5{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(5);
  }
}
.col-6{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(6);
  }
}
.col-7{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(7);
  }
}
.col-8{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(8);
  }
}
.col-9{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(9);
  }
}
.col-10{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(10);
  }
}
.col-11{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(11);
  }
}
.col-12{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(12);
  }
}

/* overview */
.upstate-feature{
  @include span-columns(12);
  @include media($medium-screen){
    @include span-columns(4);
  }
}
.upstate-feature-img{
  border-radius:100%;
  max-width:100px;
  margin-top:1em;
}


.upstate-features-list li{
    list-style: none;
    margin-left:3em;
  .fa {
    position:absolute;
    margin-left:-1.25em;
    margin-top:7px;
    font-size:2em;
  }
  .fa-magic{ color:$red;}
  .fa-file-code-o{ color: $blue}
  .fa-fighter-jet{
    color:$orange;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
  }
  .fa-tree{ color: $green;}
}

/* features */
.upstate-services-list{
  @extend .services-list;
}

/* work */

.upstate-scr-mobile-wrap{
  //max-width: 142px;
  //display:none;
  //position: absolute;
  //bottom: 8%;
  //margin-left: -20px;
  @include media($large-screen){
    //display:block;
    max-width:1000px;
    position:relative;
    bottom:auto;
    margin-left:0;
  }
}

.upstate-work-quote{
  margin-top:2em;
  padding-top:1em;
  margin-left:0;
}
.upstate-testimonial-block{
  margin-left:0px;
}
.upstate-test-pic{
  margin-left:0px;
}

.upstate-price-service{
  margin-left:3em;
  position:relative;
  @extend .small;
  .fa-cubes{
    position:absolute;
    top:0;
    left:-1.5em;
    font-size:2em;
    color:$blue;
  }
  li {
    margin-left:0.75em;
  }
}
.update-add-on{
  margin-left:2.5em;
  position:relative;
  @extend .small;
  .fa{
    left:-1.25em;
    font-size:2em;
    position:absolute;
    top:0;
  }
  .fa-heart{
    color:$red;
  }
  .fa-pagelines{
    color:$green;
  }
}

.upstate-submit{
  @include bbb_size(2);
  @include bbb-3D-style($rich-violet, #fff);
  font-family: 'archivo black';
  font-size:1.2em;
  text-transform:uppercase;
  letter-spacing:-0.09em;
}
.upstate-submit:hover,
.upstate-submit:focus {
  background-color:lighten($rich-violet, 10%);
}
.upstate-apply-form{
  input {
    //display:inline;
    //height:2.6em;
    max-width:300px;
  }
}

/* nav wrapper */
.upstate-nav-wrapper{
  @extend .navigation;

  @include media($large-screen){
    background:transparentize($bg-dawn-mist, 0.5) !important;
  }
  border-bottom:0px !important;
  position:fixed;
  width: 100%;
  a {
    background: transparent !important;
  }
  .logo{
    font-size:1.1em;
  }
  li.nav-link {
   background: transparent !important;
  }
}
header.navigation .navigation-wrapper, header.upstate-nav-wrapper .navigation-wrapper {
  max-width: auto;
  width: 100% !important;
  position: absolute;
}
header.navigation, header.upstate-nav-wrapper {
  overflow: hidden;
}