<div class="section midnight" data-anchor="About">
  <section class="wrapper night">
    <div class="main">
      <span class="section-title">About</span>
      <br><br>
    
    <h1 class="light">Listen first</h1>
    
      <p>Up State is a product by <a href="http://hightopsnyc.com">High Tops, LLC</a>, a web development consultancy based in New York City.</p> 

      <p>In order to create beautiful, useful digital products I listen to my clients. I also listen to their audience. Then I work to create measurable results. As I build, there’s lots of communication and feedback and my clients get to see their projects develop. This is how we get it right.</p>
    </div>
    <div class="sidebar-night small">
      <h3>Web Developer</span></h3>
      <p class="">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/austin.jpg" alt="austin, founder of High Tops" class="profile-pic">
        Austin Samsel is both a visual designer and a programmer. He believes empathy and connection are the driving forces for creating great work.
      </p>
    </div>
  </section>
</div>