<div class="section white-moon" data-anchor="About">
  <section class="wrapper">
    <div class="main">
      <span class="section-title">About</span>
      <br><br>

    <h1>Listen first</h1>

      <p>Up State is a product by <a href="http://hightopsnyc.com">High Tops, LLC</a>, a web development consultancy based in New York City.</p>

      <p>In order to create beautiful, useful digital products I listen to my clients. I also listen to their audience. Then I work to create measurable results. As I build, there’s lots of communication and feedback and my clients get to see their projects develop. This is how we get it right. <a href="#Contact">Want to talk about your project? Let's do it!</a></p>
    </div>
    <div class="sidebar-off small">
      <h3>Web Developer</span></h3>
      <p class="">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/austin.jpg" alt="austin, founder of High Tops" class="profile-pic">
        Hi, I'm Austin Samsel. I'm both a visual designer and a programmer. I've been doing this thing for about five years. I've learned empathy is everything: good stuff happens when we help others fulfill their needs. You can be my friend on twitter: <a href="http://twitter.com/austinsamsel">@austinsamsel</a>
      </p>
    </div>
  </section>
</div>
