<div class="section white-moon" data-anchor="About">
  <section class="wrapper">
    <div class="main">
      <span class="section-title">About</span>
      <br><br>

    <h1>Listen first</h1>

      <p>Up State is a service offered by <a href="http://hightopsnyc.com">High Tops, LLC</a>, a web design and web development consultancy based in New York City, run by Austin Samsel.</p>

      <p>In order to create beautiful, useful digital products I listen to my clients. Then I work to create measurable results. When I work, there’s lots of communication and feedback and my clients get to see their projects develop. This is how I make sure we get it right.</p>

      <p>Have some questions about your project? <a href="#Contact">Let's chat!</a></p>
    </div>
    <div class="sidebar-off small">
      <h3 style="font-size:1.3em;">Visual Engineer</h3>
      <p class="">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/austin.jpg" alt="austin, founder of High Tops" class="profile-pic">
        Hi! I'm Austin Samsel. I'm both a visual designer and a programmer. I believe empathy and connection are the driving forces for creating great work. Good things happen when we help others.
      </p>
    </div>
  </section>
</div>
