<div class="section dawn-mist" data-anchor="Contact">
  <section class="wrapper">
    <div class="main">
      <span class="section-title">Contact</span>
      <h1>Ask anything</h1>
      <p class="">It’s never too soon to get in touch about a project. Let us know what you're working on. We'd love to hear about it. <strong class="highlight2">No worries, we’re super nice</strong>.</p>
      <form id="contactform" class="contact-form" action="//formspree.io/hi@upstatebiz.com" method="POST">
        <input type="hidden" name="_subject" value="New contact on Up State." />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="email" name="_replyto" placeholder="Your email" required />
        <textarea type="text" name="_msg" placeholder="Your message" required></textarea>
        <button class="upstate-submit" type="submit" value="SEND" />SEND</button>
      </form>
    </div>
    <div class="sidebar contact-methods small">
      <h3>Don't like forms?</h3>
      <li><i class="fa fa-envelope-o"></i><strong class="small">email:</strong><br>
        <a href="mailto:hi@upstatebiz.com">hi@upstatebiz.com</a></li>
        
      <li><i class="fa fa-mobile"></i><strong class="small">phone:</strong><br>
        +1 718 218 3108</li>

      <li><i class="fa fa-building"></i><strong class="small">write a letter:</strong><br>
        252 S 4th St, #2B<br>
        Brooklyn, NY 11211</li>
      <li><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/pigeon.svg" alt="pigeon messenger" class="fa svg-pigeon">
      <strong class="small">carrier pigeon:</strong><br>
      Clap 7 times fast.
      Pause. 2 claps.
      Release.</li>
    </div>
  </section>
</div>