<div class="section upstate-slides white-moon" data-anchor="Themes">
  <div class="slide" data-anchor='Customize'>
    <section class="wrapper">
    <span class="section-title">Themes</span>
      <h1>Awesome themes</h1>
      <div class="hide-link-md">
        <a href="#Themes/Salient">Browse some favorites <i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="full">
        <div class="col-3 theme-preview">
          <a href="#Themes/Salient">

            <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-salient.jpg"  alt="salient screen capture"></div>
          </a>
        </div>
        <div class="col-3 theme-preview hide-preview-sm ">
          <a href="#Themes/CleverCourse">

            <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-cleverCourse.jpg"  alt="clever course screen capture"></div>
          </a>
        </div>
        <div class="col-3 theme-preview hide-preview-sm omega">
          <a href="#Themes/Bridge">

            <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-bridge.jpg"  alt="bridge screen capture"></div>
          </a>
        </div>
        <div class="col-3 theme-preview hide-preview-sm">
          <a href="#Themes/Rosa">

            <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-rosa.jpg"  alt="rosa screen capture"></div>
          </a>
        </div>
        <div class="col-3 theme-preview hide-preview-sm">
          <a href="#Themes/Vintage">

            <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-vintage.jpg"  alt="vintage screen capture"></div>
          </a>
        </div>
        <div class="col-3 theme-browse-link hide-preview-sm  omega">
          <div class="wrappily">
            <a href="#Themes/Salient">Browse some favorites <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="slide" data-anchor="Salient">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Salient</h3>
      <p class="small"><strong>Use Cases: </strong> business, portfolio, creative, photography, blogs. <a href="http://themenectar.com/demo/salient-frostwave/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-salient.jpg"  alt="salient screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-salient.jpg" alt="salient mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="Avada">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Avada</h3>
      <p class="small"><strong>Use Cases: </strong> business, corporate, ecommerce, portfolio, creative, blogs. <a href="http://theme-fusion.com/avada/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-avada.jpg"  alt="avada screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-avada.jpg" alt="avada mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="Bridge">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Bridge</h3>
      <p class="small"><strong>Use Cases: </strong> business, corporate, ecommerce, portfolio, creative, blogs, restaurant, agency. <a href="http://demo.qodeinteractive.com/bridge/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-bridge.jpg"  alt="bridge screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-bridge.jpg" alt="bridge mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="Primary">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Primary</h3>
      <p class="small"><strong>Use Cases: </strong> business, portfolio, blog, ecommerce. <a href="http://primary.phoenix-theme.com/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-primary.jpg"  alt="primary screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-primary.jpg" alt="primary mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="Notio">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Notio</h3>
      <p class="small"><strong>Use Cases: </strong> portfolio, creative, photography, design, illustration, blog, commerce.<a href="http://notio.fuelthemes.net/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-notio.jpg"  alt="notio screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-notio.jpg" alt="notio mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="Vintage">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Vintage</h3>
      <p class="small"><strong>Use Cases: </strong> store, shop, ecommerce, clothing, records, vintage.<a href="http://vintage.icotheme.com/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-vintage.jpg"  alt="vintage screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-vintage.jpg" alt="vintage mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="Rosa">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Rosa</h3>
      <p class="small"><strong>Use Cases: </strong> restaurant, bar, cafe, ecommerce, brewery, wine shop.<a href="http://pixelgrade.com/demos/rosa2/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-rosa.jpg"  alt="rosa screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-rosa.jpg" alt="rosa mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="CleverCourse">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Clever Course</h3>
      <p class="small"><strong>Use Cases: </strong> online courses, business, education.<a href="http://themes.goodlayers.com/clevercourse/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-cleverCourse.jpg"  alt="clever course screen capture">
      </div>
    </div>
    <div class="slide" data-anchor="imEvent">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>im Event</h3>
      <p class="small"><strong>Use Cases: </strong> events, conferences, education, business, corporate.<a href="http://demo.ovatheme.com/imevent/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-imEvent.jpg"  alt="im event screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-imEvent.jpg" alt="im event mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-cleverCourse.jpg" alt="clever course mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="flatPack">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Flat Pack</h3>
      <p class="small"><strong>Use Cases: </strong> marketing, landing pages, products, courses, books.<a href="http://pixfort.com/landing/flatpack/1-normal/1-normal.html" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-flatPack.jpg"  alt="flat pack screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-flatPack.jpg" alt="flat pack mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div>
  <div class="slide" data-anchor="flatPack">
    <section class="wrapper visible">
    <div class="main-big">
      <h2>Thousands of Themes</h2>
      <p><strong>Didn't find your theme here?</strong> No worries. These are just some favorites. There are thousands of WordPress themes you can choose from and I'll make sure you find a perfect match.</p>
    </div>
    <div class="sidebar2">
    </div>
    </section>
  </div>
<!--     <div class="slide" data-anchor="Lobo">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Lobo</h3>
      <p class="small"><strong>Use Cases: </strong> agency, design, illustration, photography, creative, ecommerce.<a href="http://vankarwai.com/themes/lobo-agency/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-lobo.jpg"  alt="lobo screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-lobo.jpg" alt="lobo mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div> -->
<!--     <div class="slide" data-anchor="Heal">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Heal</h3>
      <p class="small"><strong>Use Cases: </strong> non-profit, charity, causes, fundraisers, ecommerce.<a href="http://themes.codexcoder.com/heal/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-heal.jpg"  alt="heal screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-heal.jpg" alt="heal mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div> -->
  <!-- <div class="slide" data-anchor="Odio">
    <section class="wrapper visible">
    <div class="main-big">
      <h3>Odio</h3>
      <p class="small"><strong>Use Cases: </strong> musicians, djs, bands, ecommerce. <a href="http://odio.freevision.me/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
    </div>
    <div class="sidebar2">
    </div>
    <div class="main-big">

      <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-odio.jpg"  alt="odio screen capture">
      </div>
    </div>
    <div class="sidebar2">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-odio.jpg" alt="odio mobile screen capture" class="scr-mobile-wrap">
    </div>
    </section>
  </div> -->

</div>
