---
layout: layout
pageable: false
per_page: 10
---

<!-- <div class="nav-lg">
  <div class="logo-wrap"><%= image_tag 'hightops_logo.svg' %></div>
</div> -->

<div class="upstate-nav-sm">
  <header class="upstate-nav-wrapper" role="banner">
    <div class="navigation-wrapper">
      <a href="#Home" class="logo">
        <img src="../images/upstate-logo.svg" alt="up state logo" style="opacity:1.0 !important">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
      </nav>
      <div class="navigation-tools">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li data-menuanchor="Results" class="nav-link"><a href="/#Results">Results</a></li>
<!--           <li data-menuanchor="Overview" class="nav-link"><a href="#Overview">Overview</a></li> -->
          <li data-menuanchor="Features" class="nav-link"><a href="#Features">Features</a></li>
          <!-- <li data-menuanchor="Themes" class="nav-link"><a href="/#Themes">Themes</a></li> -->
          <li data-menuanchor="Pricing" class="nav-link"><a href="/#Pricing">Pricing</a></li>
          <li data-menuanchor="About" class="nav-link"><a href="/#About">About</a></li>
          <li data-menuanchor="Contact" class="nav-link"><a href="/#Contact">Contact</a></li>
          <li data-menuanchor="Apply" class="nav-link nav-bubble"><a href="/#Apply"><span class="special-link">Apply</span></a></li>
        </ul>
      </div>
    </div>
  </header>
</div>

<div id="fullpage">
  <div class="section gradient1" id="first-slide" data-anchor="Home">
    <section class="wrapper">
      <br><br><br>
      <div class="upstate-hero">Up State</div>
      <div class="hero-h2">
        Technology rocket fuel to launch your brand fast.
      </div>
      <div class="center no-bg-link">
        <!-- <a href="#Overview"><button class="upstate-learn" >Overview</button></a> -->
        <a href="#Apply"><button class="upstate-apply" >Apply Now</button></a>
        <br>
        <br>
      </div>
      <div class="half">
        <!-- <div class="sidebar transparent-bg">
        </div>
        <div class="main">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/browser-top-2.svg" class="browser">
          <div class="scr-desktop upstate-work-pad-bot"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-bfp-tab.jpg"  alt="brooklyn fire proof stages screen capture">
          </div>
          <div class="scr-mobile-wrap mobile-small">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-top.svg" class="mobile-top">
            <div class="mobile-screen">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-bfp-mobile.jpg" alt="brooklyn fire proof stages mobile screen capture">
            </div>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-bottom.svg" class="mobile-bottom">
          </div>
        </div> -->
      </div>
     <!--  <div class="hero-support">
        <h3>We care about your success.</h3>
        <p>The first thing we do is discuss your project and your goals in order to make sure we’re a match. Then we…</p>
          <li><i class="fa fa-magic"></i> Customize your theme to match your brand.</li>
          <li><i class="fa fa-file-code-o"></i> Set up your content to look good and perform.</li>
          <li><i class="fa fa-fighter-jet"></i> Boost the performance for faster page loads.</li>
          <li><i class="fa fa-search"></i> Optimize for SEO so you look good in search.</li>
          <li><i class="fa fa-shield"></i> Secure against hackers and bots.</li>
        <br>
        <a href="#Apply"><button class="upstate-apply" >Apply Now</button></a>
      </div> -->
      <div class="hero-sub">
        <!-- <div class="full upstate-hero-footer">
          high tops is a web development consultancy<br>
          <strong>based in NYC</strong>
        </div> -->
      </div>
    </section>
  </div>
  <div class="section white-moon" id="slide-floater" data-anchor="Results">
    <!-- <div class="slide slide-creators" data-anchor="1"> -->
      <section class="wrapper visible">
      <span class="section-title">Success Story</span>
      <h1>Results</h1>
      <div class="main-big">
          <div class="scr-desktop">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-tstor.jpg" data-src-small="/images/small/screen-tstor.jpg"  class="huge-screen"  alt="temporary storage screen capture">
          </div>
      </div>
      <div class="sidebar2 omega">
        <div class="upstate-scr-mobile-wrap">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-tstor.jpg" alt="temporary storage mobile screen capture">
         </div>
      </div>
      <br>
      <br>
      <div class="main-big" style="margin-top:3em">
        <h2>Temporary Storage Galleries</h2>
        <p>Temporary Storage needed to promote their gallery rental business. We made sure their story and styles communicated Temporary Storage's community values as well as their place in the Bushwick arts hub. Various "calls to action" specifically drive and remind visitors to make a reservation. We customized an additional events management system to promote gallery exhibits and curators, past and present. This helps position the galleries as an active center in an exciting neighborhood. <a href="http://temporarystorage.info" target="blank">Visit this project's website <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="full upstate-work-quote">
        <div class="testimonial">
          <div class="testimonial-block upstate-testimonial-block">
            Working with Austin was seamless. His friendly, upbeat attitude made building our website an absolute pleasure. He is great at explaining web issues in an easy to understand manner and <strong class="highlight2">now our website looks and functions beautifully</strong>. I would recommend him to anyone looking for a real professional with the added bonus of having an undeniable eye for design.
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/maya-meissner.jpg" alt="Maya Meissner - Temporary Storage Galleries" class="testimonial-pic upstate-test-pic"><p class='testimonial-p'>Maya Meissner, <em>Temporary Storage Galleries</em></p>
          </div>
        </div>
      </div>
      <div class="main-big" style="margin-top:3em">
        <!-- <h2>See more projects</h2>
          <li><a href="http://brooklynfireproofstages.com">Brooklyn Fire Proof Stages</a></li>
          <li><a href="http://omplay.org">OmPlay: Multi-Sensory Resonance Therapy</a></li>
          <li><a href="http://celebrateshowcase.com/">Celebrate Party Showcase</a></li>
          <li><a href="http://loomyoga.com/">Loom Yoga Studio</a></li>
          <li><a href="http://hepcblog.amjmed.com/">American Journal of Medicine: Hep C Blog</a></li> -->
      </div>
      <div class="sidebar2">
      </div>

      </section>
    <!-- </div> -->
  </div>
  <!-- formerly slight-shade -->
  <div class="section dark-forest" id="feats-slide" data-anchor="Features">
    <section class="wrapper night">
      <span class="section-title">Features</span>
        <h1 class="light">Done Right</h1>
        <div class="col-12">
          <div class="col-7">
            <p>Up State is perfect for small businesses and entrepreneurs who need to launch high quality brands<strong class="highlight2"> fast, easy and stress-free</strong> while maximizing a bootstrap budget for impresive results.</p>
          </div>
          <div class="col-5 omega">
        </div>
        </div>
        <div class='wrap'>
          <div class='upstate-feature'>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/stress-free.svg" class="upstate-feature-img">
            <h3>Stress-free</h3>
            <p>We'll create a project organizer and start building. We work step by step, guided by your feedback.</p>
          </div>
          <div class='upstate-feature'>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/presentation.svg" class="upstate-feature-img">
            <h3>Presentation</h3>
            <p>Your digital presence matters. Up State helps ensure you're taken seriously by your audience.</p>
          </div>
          <div class='upstate-feature'>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/profit.svg" class="upstate-feature-img">
            <h3>Profit</h3>
            <p>Up State is an agile approach. Invest less money up front while still leaving room in your budget to grow and evolve.</p>
          </div>
        </div>
      </section>
      <section class="wrapper night">
      <div class="full">
        <!-- <span class="section-title">Features</span> -->
        <h2 class="light"></h2>
      </div>
      <div class="main">
        <div class="upstate-features-list col-10">
          <li><i class="fa fa-magic"></i>
            <h3>Configuration</h3>
            <p>Add your logo, photographs and artwork, then match the colors, fonts, and feel to reflect your identity.</p>
          </li>
          <li><i class="fa fa-file-code-o"></i>
            <h3>Content Set up</h3>
            <p>Make sure your content looks great and is up to web standard. Get ten pages laid out by a web designer / content strategist.</p>
          </li>
          <!-- <li><i class="fa fa-fighter-jet"></i>
            <h3>Optimization</h3>
            <p>I boost your site’s speed, set up analytics, optimize for SEO, and harden security.</p>
          </li> -->
          <li><i class="fa fa-tree"></i>
            <h3>Support</h3>
            <p>Get a free hour of support to ask questions about updating or managing your website.</p>
          </li>
        </div>
      </div>
      <div class="sidebar-night upstate-services-list small">
        <h3>All you need:</h3>
          <li><i class="fa fa-check"></i> Responsive design</li>
          <li><i class="fa fa-check"></i> Content Strategy</li>
          <!-- <li><i class="fa fa-check"></i> SEO optimization</li> -->
          <!-- <li><i class="fa fa-check"></i> Fast page loads</li> -->
          <li><i class="fa fa-check"></i> Enhanced security</li>
          <li><i class="fa fa-check"></i> Spam protection</li>
          <li><i class="fa fa-check"></i> Connect your URL</li>
          <li><i class="fa fa-check"></i> Connect your hosting </li>
          <li><i class="fa fa-check"></i> Analytics</li>
          <li><i class="fa fa-check"></i> Easy blogging</li>
          <li><i class="fa fa-check"></i> Easy to update</li>
          <li><i class="fa fa-check"></i> Mobile-friendly</li>
          <!-- <li><i class="fa fa-check"></i> Social network icons</li> -->
      </div>
    </section>
  </div>

  <%# partial "partials/themes" %>

  <!-- formerly daylight-gradient -->
  <div class="section midnight" data-anchor="Pricing">
    <section class="wrapper night">
      <span class="section-title">Pricing</span>
      <h1 class="light">Simple Pricing</h1>
      <div class="col-4">
        <h3>Starter Pack</h3>
        <p>1x cost of $999<br>
        We set up your content and launch your high-quality, modern website in a week.</p>
        <div class="upstate-price-service light">
          <i class="fa fa-cubes"></i><strong>Includes:</strong>
          <li>Clean, Sensible Layout</li>
          <li>Theme Configuration</li>
          <li>Connect URL & Hosting</li>
          <li>Set Up Content (10 pages)</li>
          <!-- <li>SEO Starter</li> -->
          <li>Google Analytics</li>
          <!-- <li>Performance Optimization</li> -->
          <li>Security Hardening</li>
          <li>Spam Protection</li>
          <li>1 Hour of Free Support</li>
          <br>
        </div>
      </div>
      <div class="col-4">
        <h3>Pro Pack</h3>
        <p>Custom pricing<br>
        Integrate third party services and automate your business.</p>
        <div class="upstate-price-service light">
          <i class="fa fa-diamond"> </i> <strong>Includes:</strong>
          <li><strong>Standard Plan +</strong></li>
          <!-- <li>Business consult</li>
          <li>Theme choice consult</li> -->
          <li>Make your business work across the internet. Whether you need to sell a book, promote an event, or build your mailing list, we bring it all together and then some. We can identity repetitive tasks, workflow optimizations, and create opportunities for you to delight and impress your audience.</li>
          <!-- <li>Business consult</li>
          <li>Goals-driven approach</li>
          <li>Theme choice consult</li>
          <li>Content strategy</li>
          <li>Design thinking</li>
          <li>Better for business</li> -->
          <br>
        </div>
      </div>
      <div class="col-4 sidebar-night omega">
        <h4>Extra Needs?</h4>
        <p class="small">We can take care of almost any kind of extra requirements.</p>
        <div class="add-on-services light">
          <!-- <strong>Add-on services:</strong> -->
          <li>Theme customizations</li>
          <li>Custom Design</li>
          <li>Advanced analytics</li>
          <li>Ongoing updates</li>
          <!-- <li>Custom graphics or artwork</li> -->
          <li>And more…</li>

        <!-- <h4>Customizations</h4>
        <p>It can be hard to get everything you need from a theme. Some ambitious projects may need additional functionality. <a href="#Contact">Let's discuss how we can customize your project.</a></p>
        <div class="upstate-price-service light">
          <i class="fa fa-cart-plus"></i><strong>Additional Services:</strong>
          <li>Special theme tweaks and customizations</li>
          <li>Mailing list integration</li>
          <li>Ecommerce</li>
          <li>Advanced analytics</li>
          <li>User testing</li>
          <li>Marketing optimizations</li>
          <li>Custom graphics or artwork</li>
          <li>And more…</li> -->
        </div>
      </div>
    </section>
  </div>
  <%= partial "partials/about" %>
  <%= partial "partials/contact" %>
  <div class="section gradient2" data-anchor="Apply">
    <section class="wrapper">
      <div class="center-apply">
        <h1>Apply Now</h1>
        <p style="max-width:400px">It’s never too soon to start the application process. I’ll send you a short form to fill out.</p>
        <form id="upstateApply" class="upstate-apply-form" action="//formspree.io/hi@hightops.co" method="POST">
          <input type="hidden" name="_subject" value="New Up State Application" />
          <input type="text" name="_gotcha" style="display:none" />
          <input type="email" name="_replyto" placeholder="Your Email Address" required />
          <button class="upstate-submit" type="submit" value="Submit" />SUBMIT</button>
        </form>
        <br>
        <!-- <p>Questions? <a href="#Contact">Ask me anything.</a></p> -->
      </div>
      <div class="sidebar transparent-bg">
      </div>
    </section>
  </div>

</div>
