---
layout: layout
pageable: false
per_page: 10
---

<!-- <div class="nav-lg">
  <div class="logo-wrap"><%= image_tag 'hightops_logo.svg' %></div>
</div> -->
<div class="upstate-nav-sm">
  <header class="upstate-nav-wrapper" role="banner">
    <div class="navigation-wrapper">
      <a href="#Home" class="logo">
        <img src="../images/upstate-logo.svg" alt="up state logo" style="opacity:1.0 !important">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
      </nav>
      <div class="navigation-tools">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li data-menuanchor="Results" class="nav-link"><a href="#Results">Results</a></li>
          <li data-menuanchor="Overview" class="nav-link"><a href="#Overview">Overview</a></li>
          <li data-menuanchor="Features" class="nav-link"><a href="#Features">Features</a></li>
          <li data-menuanchor="Themes" class="nav-link"><a href="#Themes">Themes</a></li>
          <li data-menuanchor="Pricing" class="nav-link"><a href="#Pricing">Pricing</a></li>
          <li data-menuanchor="Contact" class="nav-link"><a href="#Contact">Contact</a></li>
          <li data-menuanchor="Apply" class="nav-link nav-bubble"><a href="#Apply"><span class="special-link">Apply</span></a></li>
        </ul>
      </div>
    </div>
  </header>
</div>

<div id="fullpage">
  <div class="section gradient1" id="first-slide" data-anchor="Home">
    <section class="wrapper">
      <br><br><br>
      <div class="upstate-hero">Up State</div>
      <div class="hero-h2">
        Your high quality, mobile-responsive website in one week for <span class="reg-price"> &nbsp;$1199&nbsp;</span>&nbsp;$999.
      </div>
      <div class="center no-bg-link">
        <!-- <a href="#Overview"><button class="upstate-learn" >Overview</button></a> -->
        <a href="#Apply"><button class="upstate-apply" >Apply Now</button></a>
        <br>
        <br>
      </div>
      <div class="half"> 
        <!-- <div class="sidebar transparent-bg">
        </div>
        <div class="main"> 
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/browser-top-2.svg" class="browser">
          <div class="scr-desktop upstate-work-pad-bot"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-bfp-tab.jpg"  alt="brooklyn fire proof stages screen capture">
          </div>
          <div class="scr-mobile-wrap mobile-small">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-top.svg" class="mobile-top">
            <div class="mobile-screen">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-bfp-mobile.jpg" alt="brooklyn fire proof stages mobile screen capture">
            </div>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-bottom.svg" class="mobile-bottom">
          </div>
        </div> -->
      </div>
     <!--  <div class="hero-support">
        <h3>We care about your success.</h3>
        <p>The first thing we do is discuss your project and your goals in order to make sure we’re a match. Then we…</p>
          <li><i class="fa fa-magic"></i> Customize your theme to match your brand.</li>
          <li><i class="fa fa-file-code-o"></i> Set up your content to look good and perform.</li>
          <li><i class="fa fa-fighter-jet"></i> Boost the performance for faster page loads.</li>
          <li><i class="fa fa-search"></i> Optimize for SEO so you look good in search.</li>
          <li><i class="fa fa-shield"></i> Secure against hackers and bots.</li>
        <br>
        <a href="#Apply"><button class="upstate-apply" >Apply Now</button></a>
      </div> -->
      <div class="hero-sub">
        <!-- <div class="full upstate-hero-footer">
          high tops is a web development consultancy<br>
          <strong>based in NYC</strong>
        </div> -->
      </div>
    </section>
  </div>
  <div class="section white-moon" id="slide-floater" data-anchor="Results">
    <!-- <div class="slide slide-creators" data-anchor="1"> -->
      <section class="wrapper visible">
      <span class="section-title">Success Story</span>
      <h1>Results</h1>
      <div class="main-big">            
          <div class="scr-desktop">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src-small="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-tstor.jpg" class="huge-screen"  alt="temporary storage screen capture">
          </div>
      </div>
      <div class="sidebar2 omega">
        <div class="upstate-scr-mobile-wrap">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-tstor.jpg" alt="temporary storage mobile screen capture">
         </div>
      </div>
      <br>
      <br>
      <div class="main-big" style="margin-top:3em">
        <h2>Temporary Storage</h2>
        <p>Temporary Storage needed to promote their sound stage business. We started with the Jarvis WordPress theme then built in an additional content slider. I then optimized it to improve page load times by 300% to help with SEO and user experience. <a href="http://brooklynfireproofstages.com" target="blank">Project Link <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="full upstate-work-quote">
        <div class="testimonial">
          <div class="testimonial-block upstate-testimonial-block">
            Austin is <strong class="highlight2">incredibly professional, efficient, responds promptly to questions and concerns</strong>, and is able to put technical information into layman’s terms that are easily understood and digested by people like me!
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/erin.jpg" alt="erin anderson of brooklyn fire proof" class="testimonial-pic upstate-test-pic"><p class='testimonial-p'>Erin Anderson, <em>Brooklyn Fire Proof</em></p>
          </div>
        </div>
      </div>
      </section>
    <!-- </div> -->
  </div>
  <div class="section white-moon" data-anchor="Overview">
    <section class="wrapper">
      <span class="section-title">Overview</span>
        <h1>Done Right</h1>
        <div class="col-12">
          <div class="col-7">
            <p>Up State is perfect for small businesses, professionals, and product landing pages. It makes launching high quality websites<strong class="highlight2"> fast, easy and stress-free</strong>. So you can focus on what you do best.</p>
          </div>
          <div class="col-5 omega">
        </div>
        </div>
        <div class='wrap'>
          <div class='upstate-feature'>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/stress-free.svg" class="upstate-feature-img">
            <h3>Stress-free</h3>
            <p>Choose any WordPress theme, fill out our project organizer, and I'll set up and launch your website.</p>
          </div>
          <div class='upstate-feature'>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/presentation.svg" class="upstate-feature-img">
            <h3>Presentation</h3>
            <p>Your website is a reflection of your business. I help make sure it speaks to your audience.</p>
          </div>
          <div class='upstate-feature'>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/profit.svg" class="upstate-feature-img">
            <h3>Profit</h3>
            <p>Whether you need new leads, to promote services, or sell a new product, I keep your goals in mind.</p>
          </div>
        </div>
    </section>
  </div>
  <div class="section slight-white" id="feats-slide" data-anchor="Features">
    <section class="wrapper">
      <div class="full">
        <span class="section-title">Features</span>
        <h1>All in one</h1>
      </div>
      <div class="main">
        <p>Up State websites are built with WordPress so you can easily manage your site.</p>
        <hr>
        <div class="upstate-features-list col-10">
          <li><i class="fa fa-magic"></i>
            <h3>Configuration</h3>
            <p>Choose any theme by any author. I add your logo, photographs and artwork, then match the colors and fonts to reflect your brand.</p>
          </li>
          <li><i class="fa fa-file-code-o"></i>
            <h3>Content Set up</h3>
            <p>I make sure your content looks great and fulfills web standards. You get up to 10 pages set up by a web design pro.</p>
          </li>
          <li><i class="fa fa-fighter-jet"></i>
            <h3>Optimization</h3>
            <p>I boost your site’s speed, set up analytics, optimize for SEO, and harden security.</p>
          </li>
          <li><i class="fa fa-tree"></i>
            <h3>Tutorial/Support</h3>
            <p>Once you're launched, I’ll show you how to make updates and changes during your one hour tutorial.</p>
          </li>
        </div>
      </div>
      <div class="sidebar upstate-services-list small">
        <h3>All you need:</h3>
          <li><i class="fa fa-check"></i> Responsive</li>
          <li><i class="fa fa-check"></i> SEO optimization</li>
          <li><i class="fa fa-check"></i> Fast page loads</li>
          <li><i class="fa fa-check"></i> Enhanced Security</li>
          <li><i class="fa fa-check"></i> Spam filter</li>
          <li><i class="fa fa-check"></i> Connect your URL</li>
          <li><i class="fa fa-check"></i> Connect your hosting </li>
          <li><i class="fa fa-check"></i> Google Analytics</li>
          <li><i class="fa fa-check"></i> Easy blogging</li>
          <li><i class="fa fa-check"></i> Mobile friendly</li>
          <li><i class="fa fa-check"></i> Social network icons</li>
          <li><i class="fa fa-check"></i> Newsletter sign ups</li>
          <li><i class="fa fa-check"></i> E-commerce</li>
      </div>
    </section>
  </div>
  
  <div class="section upstate-slides white-moon" data-anchor="Themes">
    <div class="slide" data-anchor='Customize'>
      <section class="wrapper">
      <span class="section-title">Themes</span>
        <h1>Awesome themes</h1>
        <div class="hide-link-md">
          <a href="#Themes/Salient">Browse some favorites <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="full">
          <div class="col-3 theme-preview">
            <a href="#Themes/Salient">
              
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-salient.jpg"  alt="salient screen capture"></div>
            </a>
          </div>
          <div class="col-3 theme-preview hide-preview-sm ">
            <a href="#Themes/CleverCourse">
              
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-cleverCourse.jpg"  alt="clever course screen capture"></div>
            </a>
          </div>
          <div class="col-3 theme-preview hide-preview-sm omega">
            <a href="#Themes/Bridge">
              
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-bridge.jpg"  alt="bridge screen capture"></div>
            </a>
          </div>
          <div class="col-3 theme-preview hide-preview-sm">
            <a href="#Themes/Rosa">
              
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-rosa.jpg"  alt="rosa screen capture"></div>
            </a>
          </div>
          <div class="col-3 theme-preview hide-preview-sm">
            <a href="#Themes/Vintage">
              
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-vintage.jpg"  alt="vintage screen capture"></div>
            </a>
          </div>
          <div class="col-3 theme-browse-link hide-preview-sm  omega">
            <div class="wrappily">
              <a href="#Themes/Salient">Browse some favorites <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="slide" data-anchor="Salient">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Salient</h3>
        <p class="small"><strong>Use Cases: </strong> business, portfolio, creative, photography, blogs. <a href="http://themenectar.com/demo/salient-frostwave/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-salient.jpg"  alt="salient screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-salient.jpg" alt="salient mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Avada">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Avada</h3>
        <p class="small"><strong>Use Cases: </strong> business, corporate, ecommerce, portfolio, creative, blogs. <a href="http://theme-fusion.com/avada/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-avada.jpg"  alt="avada screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-avada.jpg" alt="avada mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Bridge">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Bridge</h3>
        <p class="small"><strong>Use Cases: </strong> business, corporate, ecommerce, portfolio, creative, blogs, restaurant, agency. <a href="http://demo.qodeinteractive.com/bridge/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-bridge.jpg"  alt="bridge screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-bridge.jpg" alt="bridge mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Primary">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Primary</h3>
        <p class="small"><strong>Use Cases: </strong> business, portfolio, blog, ecommerce. <a href="http://primary.phoenix-theme.com/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-primary.jpg"  alt="primary screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-primary.jpg" alt="primary mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Notio">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Notio</h3>
        <p class="small"><strong>Use Cases: </strong> portfolio, creative, photography, design, illustraton, blog, commerce.<a href="http://notio.fuelthemes.net/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-notio.jpg"  alt="notio screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-notio.jpg" alt="notio mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Vintage">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Vintage</h3>
        <p class="small"><strong>Use Cases: </strong> store, shop, ecommerce, clothing, records, vintage.<a href="http://vintage.icotheme.com/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-vintage.jpg"  alt="vintage screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-vintage.jpg" alt="vintage mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Rosa">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Rosa</h3>
        <p class="small"><strong>Use Cases: </strong> restaurant, bar, cafe, ecommerce, brewery, wine shop.<a href="http://pixelgrade.com/demos/rosa2/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-rosa.jpg"  alt="rosa screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-rosa.jpg" alt="rosa mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="CleverCourse">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Clever Course</h3>
        <p class="small"><strong>Use Cases: </strong> online courses, business, education.<a href="http://themes.goodlayers.com/clevercourse/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-cleverCourse.jpg"  alt="clever course screen capture">
        </div>
      </div>
      <div class="slide" data-anchor="imEvent">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>im Event</h3>
        <p class="small"><strong>Use Cases: </strong> events, conferences, education, business, corporate.<a href="http://demo.ovatheme.com/imevent/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-imEvent.jpg"  alt="im event screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-imEvent.jpg" alt="im event mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-cleverCourse.jpg" alt="clever course mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="flatPack">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Flat Pack</h3>
        <p class="small"><strong>Use Cases: </strong> marketing, landing pages, products, courses, books.<a href="http://pixfort.com/landing/flatpack/1-normal/1-normal.html" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-flatPack.jpg"  alt="flat pack screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-flatPack.jpg" alt="flat pack mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="flatPack">
      <section class="wrapper visible">
      <div class="main-big">
        <h2>Thousands of Themes</h2>
        <p><strong>Didn't find your theme here?</strong> No worries. These are just some favorites. There are thousands of WordPress themes you can choose from and I'll make sure you find a perfect match.</p>
      </div>
      <div class="sidebar2">
      </div>
      </section>
    </div>
<!--     <div class="slide" data-anchor="Lobo">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Lobo</h3>
        <p class="small"><strong>Use Cases: </strong> agency, design, illustration, photography, creative, ecommerce.<a href="http://vankarwai.com/themes/lobo-agency/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-lobo.jpg"  alt="lobo screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-lobo.jpg" alt="lobo mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div> -->
<!--     <div class="slide" data-anchor="Heal">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Heal</h3>
        <p class="small"><strong>Use Cases: </strong> non-profit, charity, causes, fundraisers, ecommerce.<a href="http://themes.codexcoder.com/heal/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-heal.jpg"  alt="heal screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-heal.jpg" alt="heal mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div> -->
    <!-- <div class="slide" data-anchor="Odio">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Odio</h3>
        <p class="small"><strong>Use Cases: </strong> musicians, djs, bands, ecommerce. <a href="http://odio.freevision.me/" target="blank"> See a demo <i class="fa fa-sign-out"></i></a></p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        
        <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/theme-screen-odio.jpg"  alt="odio screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/theme-mobile-odio.jpg" alt="odio mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div> -->

  </div>
  <div class="section dawn-mist" data-anchor="Pricing">
    <section class="wrapper">
      <span class="section-title">Pricing</span>
      <h1>Simple Pricing</h1>
      <div class="col-7">
        <h3>Professional Set Up</h3>
        <p>1x build cost of $999<br>
        I launch your high-quality, modern WordPress website in a week.</p>
        <div class="upstate-price-service">
          <i class="fa fa-cubes"></i><strong>Includes:</strong>
          <li>Connect URL & Hosting</li>
          <li>Theme Configuration</li>
          <li>Set Up Content</li>
          <li>SEO Starter</li>
          <li>Analytics</li>
          <li>Performance Optimization</li>
          <li>Security Configuration</li>
          <li>Spam Protection</li>
          <li>1 Hour Tutorial</li>
          <br>
        </div>
      </div>
      <div class="col-5 omega">
        <h4>Optional Add-Ons</h4>
        <p>For convenience and peace of mind…</p>
        <div class="update-add-on">
            <i class="fa fa-heart"></i>
            </i><h5>Check Ups</h5>
            <p>$129/ea<br>
            I’ll check your website for errors and vulnerabilities. I’ll also consult with you about your goals and can make suggestions for improvements.</p>
        </div>
        <div class="update-add-on">
          <i class="fa fa-pagelines"></i><h5>Monthly Support</h5>
          <p>starts at $49/mo or $499/yr<br>
          I manage your back up system and software updates for you. I also maintain your codebase so everything works well.</p>
        </div>
      </div>
    </section>
  </div>
  <%= partial "partials/about" %>
  <%= partial "partials/contact" %>
  <div class="section gradient2" data-anchor="Apply">
    <section class="wrapper">
      <div class="main">
        <span class="section-title">Application</span>
        <h1>Apply Now</h1>
        <p>It’s never too soon to start the application process. I’ll send you a short form to fill out. No commitment. No newsletters. No spam. Promise.</p>
        <form id="upstateApply" class="upstate-apply-form" action="//formspree.io/hi@upstatebiz.com" method="POST">
          <input type="hidden" name="_subject" value="New Up State Application" />
          <input type="text" name="_gotcha" style="display:none" />
          <input type="email" name="_replyto" placeholder="Your email" required />
          <button class="upstate-submit" type="submit" value="Submit" />SUBMIT</button>
        </form>
        <br>
        <p>Questions? <a href="#Contact">Ask me anything.</a></p>
      </div>
      <div class="sidebar transparent-bg">
      </div>
    </section>
  </div>

</div>