---
pageable: false
per_page: 10
---

<div id="fullpage">
  <div class="section gradient3" data-anchor="Home">
    <section class="wrapper">
      <h1>Thanks!</h1>
      <p>We'll be in touch soon.</p>
      <p><a href="http://hightopsnyc.com">High Tops</a>. <a href="http://hightopsnyc.com/upstate">Upstate</a>.</p>
    </section>
  </div>
</div>