---
layout: layout_page
title: Application
pageable: false
---

<p>Up State is a specific solution best suited for small websites for small to medium sized organizations. This application helps us make sure your project is a good fit.</p>

<p>Keep it short and sweet.</p>


<form id="upStateApp" class="upstate-application-form" data-persist="garlic" data-parsley-validate data-parsley-required-message="This field is required.">

<hr>

    <input type="hidden" name="_subject" value="New Application for Up State">
    <input type="text" name="_gotcha" style="display:none">

    <label>Full Name</label>
    <input type="text" name="_fullname" required>


    <label>Email</label>
    <input type="email" name="_replyto" required>

    <label>Business Name</label>
    <input name="businessName" type="text" required>

    <label>Current Website (URL)</label>
    <input type="text" placeholder="Optional" name="website">

    <label>Referred by</label>
    <input type="text" placeholder="Optional" name="referral">

<hr>
<p>First things first.</p>
    
    <label>Imagine you are magically granted the freedom to do whatever you want, all day long. How do you spend your day?</label>
    <input type="text" name="AnythingUWant" required>

<hr>

<p>Okay, website stuff. Your new Up State website is probably going to do a lot to help out your business. What challenges are you facing and what would you like to achieve?</p>

    <label>Why do you need a new website?</label>
    <input type="text" name="Problem" required>

    <label>#1 Business Goal</label>
    <input type="text" name="1stGoal" required>

    <label>#2 Business Goal</label>
    <input type="text" name="2ndGoal" required>

    <label>#3 Business Goal</label>
    <input type="text" name="3rdGoal" required>

<hr>

<p>Now imagine your new website and people using it.</p>

    <label>What is the look and feel?</label>
    <input type="text" name="LookAndFeel" required>

    <label>The first and most important thing people should do on your website</label>
    <input type="text" name="1stToDo" required>

    <label>Second</label>
    <input type="text" name="2ndToDo" required>

    <label>Third</label>
    <input type="text" name="3rdToDo" required>

<hr>

<p>Good enough! Once you submit your application, give us a business day to review your application. The next step in the application process is a short phone interview to discuss your project in depth. And if your project isn't a fit? No worries - we'll send you a few suggestions and resources to help you better proceed.</p>

<button type="submit" value="SEND" class="upstate-submit">SEND</button>

</form>